body {

 
    background-image:url("29.png");
    
  
}
.l1{
 
   margin-right: 190px;
  margin-left: 230PX;
  height: 100PX;
  
}

.HEADER{
    margin-top: auto;
    font-size: 29px;
    font-style: italic;
    font-weight: bold;
    color: #E7DED7;
    text-align:center;
    text-shadow: 2px 2px #B73032;
    
}
 

    
    

.main-contect li{
     list-style: none;
        float: right;
        
       align-content: center;
        background-color: #E7DED7;
        background-size:10PX;
    width: 40%;
    height: 40%;
    border-radius: 25px;
   display: flex;
 
    margin-right: 20px;
   
  
          
       
}

.i1{
    
  
 
    width: 40%;
    height: 40%;
    border-radius: 25px;
    float: right;
    margin-right: 20px;
    margin-left: 229px;
  
   
  
}
.i2{
       display: flex;


  vertical-align: middle;
  background-color: #E7DED7;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
  
    
}

.i3{
       display: flex;
  

  vertical-align: middle;
  background-color: #E7DED7;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
     
    
}

.i4{
       display: flex;
 
  
  vertical-align: middle;
  background-color: #E7DED7;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    float: left;
    margin-right: 20px;
    margin-left: 229px;
    margin-top: 40px;
    
  
}
.i5{
       display: flex;

  vertical-align: middle;
  background-color: #E7DED7;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    float: left;
    margin-right: 50px;
    margin-left:auto;
    margin-top: 40px;
 
    
}

.i6{
       display: flex;

 
  vertical-align: middle;
  background-color: #E7DED7;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    float: left;
   margin-right: 50px;
    margin-left:auto;
    margin-top: 40px;
      
    
}
.i7{
       display: flex;

  vertical-align: middle;
  background-color: #E7DED7;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    float: left;
    margin-right: 50px;
     margin-TOP:40PX;
    margin-left: 229px;
    
    
}
.i8{
       display: flex;
 
  vertical-align: middle;
  background-color: #E7DED7;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    float: left;
    margin-right: 50px;
    margin-left:auto;
    margin-top: 40px;
      
    
}
.i9{
       display: flex;
  

  vertical-align: middle;
  background-color: #E7DED7;
    width: 20%;
    height: 40%;
    border-radius: 25px;
    float: left;
    margin-right: 50px;
    margin-left:auto;
    margin-top: 40px;
     
   
}

.MA{
    color: #E7DED7;
    margin-top: 450px;
    font-size:10px;
    text-align: center;
     text-shadow: 1px 1px #000000;
}
